<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>D</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>quotesingle</string>
    <string>comma</string>
    <string>period</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>question</string>
    <string>B</string>
    <string>C</string>
    <string>A</string>
    <string>trademark</string>
    <string>uni0401</string>
    <string>uni0411</string>
    <string>uni041F</string>
    <string>uni0427</string>
    <string>uni0422</string>
    <string>uni042E</string>
    <string>asciicircum</string>
    <string>uni042F</string>
    <string>uni042D</string>
    <string>uni042C</string>
    <string>uni042B</string>
    <string>daggerdbl</string>
    <string>K</string>
    <string>uni0428</string>
    <string>uni041D</string>
    <string>uni0420</string>
    <string>uni0421</string>
    <string>uni041E</string>
    <string>dollar</string>
    <string>Euro</string>
    <string>parenright</string>
    <string>parenleft</string>
    <string>hyphen</string>
    <string>slash</string>
    <string>uni0423</string>
    <string>uni0409</string>
    <string>endash</string>
    <string>emdash</string>
    <string>uni2116</string>
    <string>uni040A</string>
    <string>uni040B</string>
    <string>uni0402</string>
    <string>uni0429</string>
    <string>uni0425</string>
    <string>uni0408</string>
    <string>copyright</string>
    <string>registered</string>
    <string>percent</string>
    <string>plus</string>
    <string>numbersign</string>
    <string>backslash</string>
    <string>equal</string>
    <string>perthousand</string>
    <string>degree</string>
    <string>uni0403</string>
    <string>uni0405</string>
    <string>uni0407</string>
    <string>uni0426</string>
    <string>plusminus</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteright</string>
    <string>quoteleft</string>
    <string>bullet</string>
    <string>quotesinglbase</string>
    <string>uni0406</string>
    <string>uni042A</string>
    <string>uni0424</string>
    <string>dagger</string>
    <string>quotedblbase</string>
    <string>ellipsis</string>
    <string>brokenbar</string>
    <string>uni040C</string>
    <string>uni040E</string>
    <string>uni0490</string>
    <string>uni045F</string>
    <string>four</string>
    <string>ampersand</string>
    <string>at</string>
    <string>bracketright</string>
    <string>bracketleft</string>
    <string>bar</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0435</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043A</string>
    <string>uni043B</string>
    <string>uni043C</string>
    <string>uni045E</string>
    <string>uni0453</string>
    <string>uni0455</string>
    <string>uni0457</string>
    <string>uni045B</string>
    <string>uni0452</string>
    <string>uni040F</string>
    <string>uni0458</string>
    <string>uni045A</string>
    <string>uni0459</string>
    <string>uni045C</string>
    <string>uni0404</string>
    <string>uni0451</string>
    <string>uni0454</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>uni0456</string>
    <string>uni0491</string>
    <string>uni0410</string>
    <string>uni0430</string>
    <string>uni0412</string>
    <string>uni0432</string>
    <string>uni0431</string>
    <string>uni0413</string>
    <string>uni0414</string>
    <string>uni0415</string>
    <string>uni0416</string>
    <string>uni0417</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni041C</string>
    <string>uni043D</string>
    <string>uni043E</string>
    <string>uni043F</string>
    <string>uni0440</string>
    <string>uni0441</string>
    <string>uni0442</string>
    <string>uni0443</string>
    <string>uni0444</string>
    <string>uni0445</string>
    <string>uni0446</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>uni044C</string>
    <string>uni044D</string>
    <string>uni044E</string>
    <string>uni044F</string>
  </array>
</dict>
</plist>
